### [Series 연산 - 3]
- 원소값이 비어 있는 경우
- 인덱스가 서로 다른 Series 의 경우

In [1]:
# [1] 모듈 로딩
import pandas as pd
import math
import numpy as np

In [2]:
# 빈칸, 즉 비어 있다는 의미를 나타내는 문자 ==> Pandas에 없음
# math 모튤과 numpy 패키지 사용
math.nan, np.NaN

(nan, nan)

In [3]:
# [2] 데이터 준비
bibibig = [13,600,np.NaN,1500]
melona = [32,700, 1200,1500]

In [4]:
# [3] 1D List ===> Series 형태 저장
sr1 = pd.Series(bibibig)
sr2 = pd.Series(melona,dtype='int16')
print(sr1,sr2,sep='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int16

In [5]:
# [4-1] 연산 수행 : Series + 숫자
# - 덧셈 연산
sr1 + 5

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [6]:
# - 뺄셈 연산
sr1 - 5

0       8.0
1     595.0
2       NaN
3    1495.0
dtype: float64

In [7]:
# 곱셈 연산
sr1 * 5

0      65.0
1    3000.0
2       NaN
3    7500.0
dtype: float64

In [8]:
# 나눗셈 연산
sr1 / 5

0      2.6
1    120.0
2      NaN
3    300.0
dtype: float64

In [9]:
# - 산술 연산
sr1 % 5

0    3.0
1    0.0
2    NaN
3    0.0
dtype: float64

In [10]:
# - 비교 연산
sr1 >= 5

0     True
1     True
2    False
3     True
dtype: bool

In [11]:
# [4-2] 연산 수행 : Series + Series
# - 산술 연산
sr1 + sr2

0      45.0
1    1300.0
2       NaN
3    3000.0
dtype: float64

In [12]:
# - 비교 연산
sr1 != sr2

0     True
1     True
2     True
3    False
dtype: bool

In [13]:
# [5] 인덱스가 다른 Series끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 [0,1,2,3] ==> [0,2,3,4]
sr3 = sr2.rename(index={1:2,2:3,3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int16

In [14]:
# - 산술 연산
sr2+sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [15]:
# - 비교 연산 : ERROR 발생
# sr2<=sr3
# ValueError: Can only compare identically-labeled Series objects

In [16]:
sr3 = sr3.reset_index(drop=True)

In [17]:
sr2>sr3

0    False
1    False
2    False
3    False
dtype: bool

In [18]:
# [6] NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈칸, 즉 NaN에 값을 지정
sr1.add(sr2,fill_value=0)

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [19]:
# 인덱스가 다른 Series연산에서 메서드 사용
sr3 = sr2.rename(index={1:2,2:3,3:4})
sr2.add(sr3,fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64