##### [Series & DataFrame 연산]

In [38]:
# [1] 모듈 로딩
import pandas as pd

In [39]:
# [2] 데이터 준비
file_name = 'data1.csv'

In [40]:
# [3] CSV File ==> DataFrame 형태 저장
csvDF = pd.read_csv(file_name, header=None)

In [41]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [42]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산
csvDF[0]+csvDF[2]

0     40
1    160
2    110
3    180
4     10
dtype: int64

In [43]:
# 0번 컬럼~ 2번 컬럼까지의 덧셈 수행
result = csvDF[0]+csvDF[1]+csvDF[2]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [44]:
# 3개 컬럼
csvDF['Total']=result
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [45]:
result2 = csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        261
1        250
2        239
Total    750
dtype: int64

In [46]:
# 행 5 추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
csvDF.loc[5] = result2
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [47]:
# [5] 연산 수행 메서드 : 합계 sum(), 최댓값 max(), 최솟값 min()
SR0=csvDF[0]
print(SR0, SR0.sum(), sep='\n')
print('합계 :',SR0.sum())
print('최댓값 :',SR0.max())
print('최솟값 :',SR0.min())

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64
522
합계 : 522
최댓값 : 261
최솟값 : 5

In [48]:
# DataFrame으로 연산수행 메서드
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [51]:
# DataFrame 합계 계산
# 각 행 데이터를 모아서 합계 수행. 그래서 컬럼 마다 행들을 모아서 합계 수행
print('합계 :',csvDF.sum())
print()
# 각 컬럼 데이터를 모아서 합계 수행. 그래서 행마다 컬럼들을 모아서 합계 수행
print('합계 :',csvDF.sum(axis=1))

합계 : 0         522
1         500
2         478
Total    1500
dtype: int64

합계 : 0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

In [54]:
# DataFrame 최댓값 계산
print('최댓값 :', csvDF.max())
print()
print('최댓값 :', csvDF.max(axis=1))

최댓값 : 0        261
1        250
2        239
Total    750
dtype: int64

최댓값 : 0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

In [55]:
# DataFrame 최솟값 계산
print('최댓값 :', csvDF.min())
print()
print('최댓값 :', csvDF.min(axis=1))

최댓값 : 0         5
1         5
2         5
Total    15
dtype: int64

최댓값 : 0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [59]:
# Total이 100이상인 데이터만 추출
# 비교 연산 결과 ==> True / False : Boolean Index
bool_index = csvDF.Total > 100

In [60]:
# Boolean Index, 즉 인덱스로 툭정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.loc[행인덱스], csvDF.iloc[행인덱스]
csvDF[bool_index]

     0    1    2  Total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750