## 03. 판다스 자료구조 살펴보기

#### 03-1 나만의 데이터 만들기

- 시리즈와 데이터프레임 만들기

In [1]:
# 시리즈 만들기
import pandas as pd

s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s= pd.Series(data=['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
# 데이터 프레임 만들기
scientists = pd. DataFrame ({
"Name": ["Rosaline Franklin", "William Gosset"],
"Occupation": ["Chemist", "Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientists = pd. DataFrame (data={"Occupation": ["Chemist","Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],},
index=["Rosaline Franklin", "William Gosset"], columns=["Occupation", "Born", "Died", "Age"],)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

#### 03-2 시리즈 다루기

In [6]:
# 시리즈 추출하기
scientists = pd. DataFrame (data={"Occupation": ["Chemist","Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],},
index=["Rosaline Franklin", "William Gosset"], columns=["Occupation", "Born", "Died", "Age"],)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [8]:
first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)
# 시리즈를 print()로 출력하면 첫 번째 열에 열 이름, 두번째 열에 값 표시

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [9]:
print(first_row.index)
print(first_row.values)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]

In [10]:
# 시리즈의 keys() 메서드
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [11]:
print(first_row.index[0])
print(first_row.keys()[0])  # 메서드 호출 후 뒤에 대괄호를 사용하여 첫번째 인덱스 추출

Occupation
Occupation

In [12]:
# 시리즈와 ndarray
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [15]:
print(ages.mean())  # 평균
print(ages.min())   # 최솟값
print(ages.max())   # 최댓값
print(ages.std())   # 표준편차

49.0
37
61
16.97056274847714

In [16]:
# 시리즈와 불리언
scientists = pd.read_csv('scientists.csv')

In [17]:
ages = scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [20]:
print(ages.describe())
print()
print(ages.mean())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

59.125

In [22]:
print(ages[ages>ages.mean()])
# 대괄호 안에 조건 지정

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [23]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [24]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [25]:
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [26]:
# 벡터와 벡터, 벡터와 스칼라 계산하기
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [27]:
print(ages*ages)
# 길이가 같은 두개의 시리즈로 연산을 수행하면 시리즈의 각 요소가 서루 대응하여 계산됨

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [29]:
# 스칼라(정수1개)와 벡터를 연산하면 스칼라 값이 벡터의 모든 요소에 적용됨
print(ages+100)
print()
print(ages*2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [30]:
# 길이가 서루 다른 벡터 연산
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [32]:
import numpy as np
# print(ages+np.array([1,100])) : ValueError: operands could not be broadcast together with shapes (8,) (2,) 
# 길이가 서로 다른 시리즈와 넘파이 array를 연산하려고 하면 오류 발생 ==> 벡터의 타입이 서로 다를 때는 반드시 길이가 같아야함!

In [34]:
# 인덱스가 같은 벡터 자동 정렬하기
# 내림차순으로 인덱스 정렬
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [35]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [37]:
print(ages+rev_ages)
# rev_ages의 인덱스가 내림차순 정렬 되어 있어도 연산이 완료된 결과는 오름차순으로 자동 정렬됨

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 03-3 데이터 프레임 다루기

In [38]:
# 데이터 프레임의 구성
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [39]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [40]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [42]:
# 데이터프레임과 불리언 추출
# scientists 데이터 프레임에서 age열의 값이 평균값 보다 큰 데이터만 추출
print(scientists.loc[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [43]:
# 데이터프레임과 브로드캐스팅
# 브로드 캐스팅 : 배열과 같은 객체 사이에 연산을 수행하는 원리 / 객체 유형, 길이, 객체와 연결된 레이블 등에 따라 달라짐

In [44]:
# 데이터 프레임을 대상으로 연산하기
first_half = scientists[:4]
second_half = scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [45]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [46]:
print(scientists * 2)
# 데이터프레임에 스칼라 2를 곱하면 숫자 셀은 2배, 문자열은 2번 반복함 (파이썬의 기본 연산 방식과 같음)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [49]:
df1 = df2 = pd.DataFrame(data = [[1,2,3],[4,5,6],[7,8,9]])
print(df1)
df_added = df1.add(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [48]:
print(df_added)
# 데이터프레임의 모든 값이 숫자이고 같은 셀끼리 값을 더할때는 add() 메서드 사용

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18