### 대구광역시 인구 추이

In [22]:
import pandas as pd

In [23]:
population = 'pop_daegu.csv'

In [24]:
popDF = pd.read_csv(population)
popDF

     시점  총인구 (명)   남자 (명)   여자 (명)
0    시점    대구광역시    대구광역시    대구광역시
1  2018  2444412  1212777  1231635
2  2019  2429940  1203754  1226186
3  2020  2410700  1190271  1220429
4  2021  2387911  1177420  1210491
5  2022  2366852  1165698  1201154

In [25]:
# 0번 행 삭제
popDF.drop(0,inplace=True)
popDF

     시점  총인구 (명)   남자 (명)   여자 (명)
1  2018  2444412  1212777  1231635
2  2019  2429940  1203754  1226186
3  2020  2410700  1190271  1220429
4  2021  2387911  1177420  1210491
5  2022  2366852  1165698  1201154

##### 총 인구 수 출력

In [26]:
popDF1 = popDF.drop(['남자 (명)','여자 (명)'],axis=1)

In [27]:
popDF1 = popDF1[['시점','총인구 (명)']].astype('int64')

In [28]:
diff=[0]
for i in range(popDF1['시점'].count()-1):
    num = popDF1.iloc[i+1,1]-popDF1.iloc[i,1]
    diff.append(num)
diff = tuple(diff)

In [29]:
popDF1['인구증감'] = diff
popDF1['인구증감'].astype('int64')

1        0
2   -14472
3   -19240
4   -22789
5   -21059
Name: 인구증감, dtype: int64

In [30]:
rate_diff = [0]
for i in range(popDF1['시점'].count()-1):
    num = popDF1.iloc[i+1,2]/popDF1.iloc[i,1]
    rate_diff.append(num*100)
rate_diff = tuple(rate_diff)

In [31]:
popDF1['인구증감률 (%)'] = rate_diff
popDF1['인구증감률 (%)'].astype('float64')
popDF1

     시점  총인구 (명)   인구증감  인구증감률 (%)
1  2018  2444412      0   0.000000
2  2019  2429940 -14472  -0.592044
3  2020  2410700 -19240  -0.791789
4  2021  2387911 -22789  -0.945327
5  2022  2366852 -21059  -0.881901

##### 남성 인구수 출력

In [32]:
man_popDF = popDF.drop(['총인구 (명)','여자 (명)'],axis=1)
man_popDF = man_popDF[['시점','남자 (명)']].astype('int64')

In [33]:
diff=[0]
for i in range(man_popDF['시점'].count()-1):
    num = man_popDF.iloc[i+1,1]-man_popDF.iloc[i,1]
    diff.append(num)
diff = tuple(diff)

In [34]:
man_popDF['인구증감'] = diff
man_popDF['인구증감'].astype('int64')

1        0
2    -9023
3   -13483
4   -12851
5   -11722
Name: 인구증감, dtype: int64

In [35]:
rate_diff = [0]
for i in range(man_popDF['시점'].count()-1):
    num = man_popDF.iloc[i+1,2]/man_popDF.iloc[i,1]
    rate_diff.append(num*100)
rate_diff = tuple(rate_diff)

In [36]:
man_popDF['인구증감률 (%)'] = rate_diff
man_popDF['인구증감률 (%)'].astype('float64')
man_popDF

     시점   남자 (명)   인구증감  인구증감률 (%)
1  2018  1212777      0   0.000000
2  2019  1203754  -9023  -0.743995
3  2020  1190271 -13483  -1.120079
4  2021  1177420 -12851  -1.079670
5  2022  1165698 -11722  -0.995567

##### 여성 인구수 출력

In [37]:
woman_popDF = popDF.drop(['총인구 (명)','남자 (명)'],axis=1)
woman_popDF = woman_popDF[['시점','여자 (명)']].astype('int64')

In [38]:
diff=[0]
for i in range(woman_popDF['시점'].count()-1):
    num = woman_popDF.iloc[i+1,1]-woman_popDF.iloc[i,1]
    diff.append(num)
diff = tuple(diff)

In [39]:
woman_popDF['인구증감'] = diff
woman_popDF['인구증감'].astype('int64')

1       0
2   -5449
3   -5757
4   -9938
5   -9337
Name: 인구증감, dtype: int64

In [40]:
rate_diff = [0]
for i in range(woman_popDF['시점'].count()-1):
    num = woman_popDF.iloc[i+1,2]/woman_popDF.iloc[i,1]
    rate_diff.append(num*100)
rate_diff = tuple(rate_diff)

In [41]:
woman_popDF['인구증감률 (%)'] = rate_diff
woman_popDF['인구증감률 (%)'].astype('float64')
woman_popDF

     시점   여자 (명)  인구증감  인구증감률 (%)
1  2018  1231635     0   0.000000
2  2019  1226186 -5449  -0.442420
3  2020  1220429 -5757  -0.469505
4  2021  1210491 -9938  -0.814304
5  2022  1201154 -9337  -0.771340