### DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu={'국어':[89,91],'수학':[88,90],'음악':[100,98]}

In [3]:
# DF으로 데이터 저장
df1 = pd.DataFrame(jumsu)

In [4]:
# DF으로 저장된 데이터 확인
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

- [속성으로 행 인덱스 변경] : 변수명.index = 새로운 인덱스

In [6]:
# 0,1 인덱스 ==> '마징가','홍길동'
df1.index = ['마징가','홍길동']

In [7]:
df1

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [8]:
# 컬럼 인덱스 ===> '국어','미술','과학'
df1.columns = ['국어','미술','과학']
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98

In [9]:
# 값을 저장하고 있는 속성 ===> values
df1.values

array([[ 89,  88, 100],
       [ 91,  90,  98]], dtype=int64)

In [11]:
# 값/데이터 변경은 속성으로는 불가능!!!
# df1.values=[[89,78,100], [92,90,98]]

In [12]:
# 형태 변경은 속성으로는 불가능!!!
# df1.shape = (3,2)

C:\Users\kdp\AppData\Local\Temp\ipykernel_5208\2122872222.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.shape = (3,2)

AttributeError: can't set attribute